p {
  /*hyphenate paragraph text, apply font family*/
  hyphens: auto;
  font-family: Arial;
}

.btn-mongoose {
  /*Style the buttons*/
  background-color: #b9a580 !important;
  color: white !important;
  font-weight: bold !important;
}

.social .btn {
  /*force the social buttons to be 1:1 ratio circles*/
  border-radius: 50%;
  max-width: 38px;
  display: inline-block;
}
.social .btn i:not(.fa-facebook-f)::before {
  /*force the social buttons' icons to be centrally aligned, except for facebook*/
  position: relative;
  left: -0.125em;
}

.social .btn.btn-dark {
  /*change the color of the dark buttons*/
  background-color: #414141;
  border-color: #414141 !important;
}

.social .btn.btn-light {
  /*change the color of the light buttons*/
  color: #58595b;
}

nav,
h2,
.btn-mongoose,
#collections {
  /*transform certain text to be in all uppercase*/
  text-transform: uppercase;
}

div.footer {
  /*color the footer section, declare a minimum height */
  background-color: #58595b;
}

div#base-container {
  /*make sure that the layout fills the entire screen height*/
  min-height: 100vh;
}

main,
main a,
main a:hover {
  /*recolor text in the main section and remove link decorations*/
  color: #fff;
  text-decoration: none;
}

.excerpt,
#collections .quick-link {
  /*style the excerpt and quick links*/
  background-color: #202020;
}

.excerpt {
  /*apply a padding to the excerpt section*/
  padding: 3rem;
}

#collections {
  /*declare a minimum height for the collections section*/
  min-height: 330px;
}

.quick-link {
  /*declare a minimum height for the quick links, create a padding, prepare to handle anchor text within*/
  min-height: 100px;
  padding: 1rem;
  display: inline-flex;
}

.quick-link a {
  /*properly position the text for the quick links at the bottom of the div*/
  text-align: center;
  align-self: flex-end;
}

footer {
  /*pull the footer elements away from the edge of the footer*/
  margin: 1rem 0 !important;
}

.quick-link a,
h2 {
  /*apply the Intro font family for relevant sections*/
  font-family: Intro, sans-serif !important;
  font-weight: bold !important;
}

header {
  /*pull the header elements away from the edge*/
  padding: 1rem 0;
}

@media (min-width: 768px) {
  /*for medium, desktop screens*/
  .typewriter {
    /*declare the typewriter font for the featured quick link*/
    font-family: "Archer Semibold", slab-serif;
  }

  #collections .featured a {
    /*style the featured quick link text*/
    align-self: center;
    font-size: 2rem;
  }
}

h2,
.quick-link a,
article p {
  /*apply a text shadow to neccessary elements*/
  text-shadow: 1px 1px 2px black;
}

div.search input[type="search"],
div.search button.btn {
  /*style the search bar*/
  border-radius: 0;
  border: none;
  border-bottom: 1px solid black;
}
 .logo img{
   max-height: 75px
 }

.quick-link{
  background-size: cover
}

#custom-handmade-pieces{
  background-image: url('../img/custom-handmade-pieces.jpg');
  background-position: right
}

#quick-shops{
  background-image: url('../img/quick-shops.jpg');
background-position: center
}

#wedding-bands{
  background-image: url('../img/wedding-bands.jpg');
  background-position: center
}

#mens-jewelry{
  background-image: url('../img/mens-jewelry.jpg');
  background-position: center bottom;
}

@media (min-width: 992px){
  #why-magic-stone{
  background-image: url('../img/why-magic-stone.jpg');
  background-repeat: no-repeat;
  background-size: contain
}
}
